<?xml version="1.0" ?>
<!-- Based on version 0.4.1 of the franka panda xacro from github.com/frankaemika/franka_ros/franka_description and
 widowx xacro from https://github.com/RobotnikAutomation/widowx_arm -->
<robot name="widowx_arm" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:arg name="arm_id_1" default="widowx_1" />
  	<xacro:arg name="arm_id_2" default="widowx_2" />
	<xacro:property name="M_SCALE" value="0.001"/>
	<xacro:property name="M_PI" value="3.14159"/>

	<xacro:include filename="$(find cram_description )/urdf/widowx.urdf.xacro"/>
	<xacro:include filename="$(find cram_description )/urdf/widowxl.urdf.xacro"/>
	<xacro:include filename="$(find cram_description )/urdf/hotend.urdf.xacro"/>

	<!-- Base for the 2 robot arms -->
	<link name="base">
	<visual>
	  <origin xyz="0 0 0.02" rpy="0 0 0"/>
	  <geometry>
		<box size="0.935 0.31 0.04" />
	  </geometry>
	  <material name="White">
		<color rgba="1.0 1.0 1.0 1.0"/>
	  </material>
	</visual>
	<collision>
	  <origin xyz="0 0 0.02" rpy="0 0 0"/>
	  <geometry>
		<box size="0.935 0.31 0.04" />
	  </geometry>
	</collision>
	</link>

	<link name="buildplate">
	<visual>
	  <origin xyz="0.15 0.15 0" rpy="0 0 0"/>
	  <geometry>
		<box size="0.3 0.3 0.004" />
	  </geometry>
	  <material name="Blue">
		<color rgba="0.0 0.0 1.0 1.0"/>
	  </material>
	</visual>
	<collision>
	  <origin xyz="0.15 0.15 0" rpy="0 0 0"/>
	  <geometry>
		<box size="0.3 0.3 0.004" />
	  </geometry>
	</collision>
	</link>

	<joint name="buildplate_joint" type="fixed">
		<origin xyz="-0.15 -0.15 0.04" rpy="0 0 0"/>
		<parent link="base"/>
		<child link="buildplate"/>
	</joint>


	<!-- widowx arm with hotend -->
	<xacro:widowx_arm arm_id="$(arg arm_id_1)" connected_to="base"  xyz="-0.245 0  0.04" rpy=" 0 0 0 "/>
	<xacro:hotend ns="$(arg arm_id_1)"  connected_to="$(arg arm_id_1)_wrist_1_link" xyz="0 0 ${M_SCALE*36.5}" rpy="0 0 0" />


	<!-- widowxl arm with hotend -->
	<xacro:widowxl_arm arm_id="$(arg arm_id_2)" connected_to="base"  xyz="0.245 0 0.04" rpy="0 0 ${M_PI}"/>
	<xacro:hotend ns="$(arg arm_id_2)" connected_to="$(arg arm_id_2)_wrist_1_link" xyz="0 0 ${M_SCALE*36.5}" rpy="0 0 ${-M_PI/4}" />


</robot>